.bot{
    background-color: #202020;
    color: white;
    height: auto;
}

.contact > a{
    background-color: transparent;
    color: #818181;
    text-decoration: none;
    position: relative;
    top: 6rem;
    left: 4rem;
    width: 10rem;

    

    padding: 0rem 3rem 0rem 0rem;
}

.contact >a:hover{
    text-decoration: underline;
    color: white;
    transition: all .5s;
}

.logoBot{
    position: relative;
    background-color: transparent;
    left: 85rem;
    width: 9rem;
    bottom: 1rem;
}

.TituloBot{
    top: 4rem;
    left: 4rem;
    position: relative;
    background-color: transparent;
    width: 10rem;
    font-size: 3rem;
}

.contact{
    background-color: transparent;
}


@media screen and (max-width:1024px) {

    .logoBot{
        left:43rem;
    }
    .bot{
        width: 1024px;
    }

}

@media screen and (max-width:768px) {

    .logoBot{
        left:38rem;
    }
    .bot{
        width: 768px;
    }
}