.principal{
    margin: auto;
    margin-top: 20rem;
    height: auto;

    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.principal img{
    margin: 2rem;
    display: flex;
    cursor: pointer;
}