*{
    font-family: 'Inter', sans-serif;

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: #EDEDED;
}

.boton{
    background-color: white;
    text-decoration: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    font-weight: 800;

    height: 3.5rem;
    width: 13rem;

    border-radius: 2rem;
    font-size: 1.5rem;
    color: #40261C;
    transition: all 0.5s;
}

.boton:hover{
    background-color: #202020;
    color: white;
    border-width: 0.3rem;
    border-style: solid;
    border-color: white;
    transition: all 0.5s;
}


.boton:focus{
    background-color: #202020;
    color: white;
    border-width: 0.3rem;
    border-style: solid;
    border-color: white;
    transition: all 0.5s;
}