header{
    color: white;
    background-color: #202020;

    height: 6.7rem;
}

.logob{
    background-color: #202020;
    position: relative;

    top: 0.9rem;
    left: 1rem;
}

.loboP{
    opacity: 0;
}