.op1{
    position: relative;
    bottom: 43rem;
    left: 26rem;
}


.op2{
    position: relative;
    bottom: 66.5rem;
    left: 50rem;
}


.op3{
    position: relative;
    bottom: 70rem;
    left: 73.5rem;
}


.op4{
    position: relative;
    bottom: 39.5rem;
    left: 50rem;
}


.op5{
    position: relative;
    bottom: 43rem;
    left: 73.5rem;

}


.op6{
    position: relative;
    bottom: 46.5rem;
    left: 26rem;
}

